{% extends 'Book.html' %}

{% block navbar%}
{% if type == "Set As Admin"%}
<li class="u-nav-item"><a
        class="u-button-style u-nav-link u-text-active-palette-3-dark-1 u-text-hover-palette-3-dark-1 u-text-palette-3-dark-1"
        href="/room" style="padding: 10px 0px;">Room</a>
</li>
<li class="u-nav-item"><a
        class="u-button-style u-nav-link u-text-active-palette-3-dark-1 u-text-hover-palette-3-dark-1 u-text-palette-3-dark-1"
        href="/roomtype" style="padding: 10px 0px;">Room Type</a>
</li>
<li class="u-nav-item"><a
        class="u-button-style u-nav-link u-text-active-palette-3-dark-1 u-text-hover-palette-3-dark-1 u-text-palette-3-dark-1"
        href="/externalservice" style="padding: 10px 0px;">External Service</a>
</li>
<li class="u-nav-item"><a
        class="u-button-style u-nav-link u-text-active-palette-3-dark-1 u-text-hover-palette-3-dark-1 u-text-palette-3-dark-1"
        href="/servicecharges" style="padding: 10px 0px;">Service Charges</a>
</li>
<li class="u-nav-item"><a
        class="u-button-style u-nav-link u-text-active-palette-3-dark-1 u-text-hover-palette-3-dark-1 u-text-palette-3-dark-1"
        href="/servicehistory" style="padding: 10px 0px;">Service History</a>
</li>
<li class="u-nav-item"><a
        class="u-button-style u-nav-link u-text-active-palette-3-dark-1 u-text-hover-palette-3-dark-1 u-text-palette-3-dark-1"
        href="/pendings" style="padding: 10px 0px;">Pending</a>
</li>
<li class="u-nav-item"><a
        class="u-button-style u-nav-link u-text-active-palette-3-dark-1 u-text-hover-palette-3-dark-1 u-text-palette-3-dark-1"
        href="/bill" style="padding: 10px 0px;">Billing</a>
</li>
{% endif%}
{% endblock %}

{% block main %}
<section class="u-align-center u-clearfix u-section-1" id="carousel_7ff6">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-absolute-hcenter u-expanded-height u-video u-video-1">
            <div class="embed-responsive">
                <video class="embed-responsive-item" data-autoplay="1" loop="" muted="" autoplay="autoplay"
                       playsinline="">
                    <source src="{{ url_for('static', filename='basic/images/Home.mp4') }}" type="video/mp4">
                    <p>Your browser does not support HTML5 video.</p>
                </video>
            </div>
        </div>
        <h1 class="u-align-left u-text u-text-grey-5 u-title u-text-1">
            <span style="font-size: 4.5rem;">WELCOME TO</span>
            <br>BUITEMS GUEST HOUSE
        </h1>
    </div>
</section>
<section class="u-align-center u-clearfix u-gradient u-section-2" id="carousel_40dd">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-custom-font u-font-roboto-slab u-text u-text-palette-3-dark-3 u-text-1">BUITEMS OFFERS</h2>
        <h1 class="u-text u-text-palette-3-dark-1 u-text-2">For our valued guests</h1>
        <div class="pointer-event u-carousel u-carousel-left u-gallery u-layout-carousel u-lightbox u-no-transition u-show-text-always u-gallery-1"
             data-interval="6250" data-u-ride="carousel" id="carousel-7e3a" data-pause="hover">
            <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
                <li data-u-target="#carousel-7e3a" data-u-slide-to="0" class="u-active u-grey-70 u-shape-circle"
                    style="width: 10px; height: 10px;"></li>
                <li data-u-target="#carousel-7e3a" data-u-slide-to="1" class="u-grey-70 u-shape-circle"
                    style="width: 10px; height: 10px;"></li>
            </ol>
            <div class="u-carousel-inner u-gallery-inner" role="listbox">
                <div class="u-active u-carousel-item u-gallery-item u-carousel-item-1">
                    <div class="u-back-slide" data-image-width="300" data-image-height="168">
                        <img class="u-back-image u-expanded u-back-image-1"
                             src="{{ url_for('static', filename='basic/images/download11.jfif') }}">
                    </div>
                    <div class="u-over-slide u-over-slide-1">
                        <h3 class="u-align-center u-custom-font u-font-roboto-slab u-gallery-heading u-text-palette-3-dark-2"
                            style="background-image: none;">SINGLE BED ROOM</h3>
                        <p class="u-custom-font u-gallery-text u-heading-font u-text-palette-3-dark-1"
                           style="background-image: none;">double bed with sofa in room and dressing table</p>
                    </div>
                </div>
                <div class="u-carousel-item u-gallery-item u-carousel-item-2">
                    <div class="u-back-slide" data-image-width="300" data-image-height="168">
                        <img class="u-back-image u-expanded u-back-image-2"
                             src="{{ url_for('static', filename='basic/images/download2.jfif') }}">
                    </div>
                    <div class="u-over-slide u-over-slide-2">
                        <h3 class="u-align-center u-custom-font u-font-roboto-slab u-gallery-heading u-text-palette-3-dark-2"
                            style="background-image: none;">DOUBLE BED ROOM</h3>
                        <p class="u-custom-font u-gallery-text u-heading-font u-text-palette-3-dark-1"
                           style="background-image: none;">Two single bed with sofa in room and dressing table</p>
                    </div>
                </div>
            </div>
            <a class="u-border-1 u-border-palette-3-light-3 u-carousel-control u-carousel-control-prev u-hidden u-icon-circle u-opacity u-opacity-70 u-radius-14 u-spacing-12 u-text-palette-3-light-3 u-carousel-control-1"
               href="#carousel-7e3a" role="button" data-u-slide="prev">
            <span aria-hidden="true">
              <svg viewBox="0 0 8 8"><path d="M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z"></path></svg>
            </span>
                <span class="sr-only">
              <svg viewBox="0 0 8 8"><path d="M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z"></path></svg>
            </span>
            </a>
            <a class="u-border-1 u-border-palette-3-light-3 u-carousel-control u-carousel-control-prev u-hidden u-icon-circle u-opacity u-opacity-70 u-radius-14 u-spacing-12 u-text-palette-3-light-3 u-carousel-control-1"
               href="#carousel-7e3a" role="button" data-u-slide="next">
            <span aria-hidden="true">
              <svg viewBox="0 0 8 8"><path d="M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z"></path></svg>
            </span>
                <span class="sr-only">
              <svg viewBox="0 0 8 8"><path d="M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z"></path></svg>
            </span>
            </a>
        </div>
        <a href="file:///C:/Users/TAMOOR~1/AppData/Local/Temp/Nicepage/chrome/index.html"
           class="u-active-none u-border-2 u-border-active-palette-2-dark-1 u-border-hover-palette-2-base u-border-palette-3-dark-3 u-btn u-button-style u-custom-font u-font-roboto-slab u-hover-none u-none u-text-hover-palette-2-base u-text-palette-3-dark-1 u-btn-1"
           target="_blank">learn more</a>
    </div>
</section>
<section class="u-clearfix u-gradient u-section-3" id="sec-2d1a">
    <div class="u-clearfix u-sheet u-valign-top u-sheet-1">
        <div class="u-carousel u-gallery u-gallery-slider u-layout-carousel u-lightbox u-no-transition u-show-text-on-hover u-gallery-1"
             data-interval="5000" data-u-ride="carousel" id="carousel-45b6">
            <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
                <li data-u-target="#carousel-45b6" data-u-slide-to="0" class="u-active u-grey-70 u-shape-circle"
                    style="width: 10px; height: 10px;"></li>
                <li data-u-target="#carousel-45b6" data-u-slide-to="1" class="u-grey-70 u-shape-circle"
                    style="width: 10px; height: 10px;"></li>
                <li data-u-target="#carousel-45b6" data-u-slide-to="2" class="u-grey-70 u-shape-circle"
                    style="width: 10px; height: 10px;"></li>
                <li data-u-target="#carousel-45b6" data-u-slide-to="3" class="u-grey-70 u-shape-circle"
                    style="width: 10px; height: 10px;"></li>
            </ol>
            <div class="u-carousel-inner u-gallery-inner u-gallery-inner-1" role="listbox" data-image-width="900"
                 data-image-height="600">
                <div class="u-active u-carousel-item u-effect-fade u-gallery-item u-carousel-item-1">
                    <div class="u-back-slide u-back-slide-1" data-image-width="900" data-image-height="600">
                        <img class="u-back-image u-expanded"
                             src="{{ url_for('static', filename='basic/images/orange_hall.jpg') }}">
                    </div>
                    <div class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-1">
                        <h3 class="u-custom-font u-font-roboto-slab u-gallery-heading u-text-palette-3-light-2">ORANGE
                            HALL</h3>
                        <p class="u-gallery-text" style="margin-top: 0px;"></p>
                    </div>
                </div>
                <div class="u-carousel-item u-effect-fade u-gallery-item u-carousel-item-2">
                    <div class="u-back-slide u-back-slide-2" data-image-width="900" data-image-height="600">
                        <img class="u-back-image u-expanded"
                             src="{{ url_for('static', filename='basic/images/green_hall.jpg') }}" alt="GREEN HALL">
                    </div>
                    <div class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-2">
                        <h3 class="u-custom-font u-font-roboto-slab u-gallery-heading u-text-palette-3-light-2">GREEN
                            HALL</h3>
                        <p class="u-gallery-text" style="margin-top: 0px;"></p>
                    </div>
                </div>
                <div class="u-carousel-item u-effect-fade u-gallery-item u-carousel-item-3" data-image-width="900"
                     data-image-height="600">
                    <div class="u-back-slide u-back-slide-3" data-image-width="275" data-image-height="183">
                        <img class="u-back-image u-expanded"
                             src="{{ url_for('static', filename='basic/images/download3.jfif') }}" alt="Training room">
                    </div>
                    <div class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-3">
                        <h3 class="u-custom-font u-font-roboto-slab u-gallery-heading u-text-palette-3-light-2">Training
                            room</h3>
                        <p class="u-gallery-text" style="margin-top: 0px;"></p>
                    </div>
                    <style data-mode="XL"></style>
                    <style data-mode="LG"></style>
                    <style data-mode="MD"></style>
                    <style data-mode="SM"></style>
                    <style data-mode="XS"></style>
                </div>
                <div class="u-carousel-item u-effect-fade u-gallery-item u-carousel-item-4" data-image-width="275"
                     data-image-height="183">
                    <div class="u-back-slide u-back-slide-4">
                        <img class="u-back-image u-expanded"
                             src="{{ url_for('static', filename='basic/images/download12.jfif') }}" alt="Meeting room">
                    </div>
                    <div class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-4">
                        <h3 class="u-custom-font u-font-roboto-slab u-gallery-heading u-text-palette-3-light-2">Meeting
                            room</h3>
                        <p class="u-gallery-text" style="margin-top: 0px;"></p>
                    </div>
                    <style data-mode="XL"></style>
                    <style data-mode="LG"></style>
                    <style data-mode="MD"></style>
                    <style data-mode="SM"></style>
                    <style data-mode="XS"></style>
                </div>
            </div>
            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-1"
               href="#carousel-45b6" role="button" data-u-slide="prev">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
                <span class="sr-only">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
            </a>
            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-2"
               href="#carousel-45b6" role="button" data-u-slide="next">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
                <span class="sr-only">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
            </a>
        </div>
        <h1 class="u-align-center u-custom-font u-font-roboto-slab u-text u-text-palette-3-dark-2 u-text-1">FOR MEETINGS
            ​&amp; EVENTS</h1>
    </div>
</section>


{% endblock %}