{% extends 'Book.html' %}

{% block navbar%}
{% if type == "Set As Admin"%}
<li class="u-nav-item"><a
        class="u-button-style u-nav-link u-text-active-palette-3-dark-1 u-text-hover-palette-3-dark-1 u-text-palette-3-dark-1"
        href="/room" style="padding: 10px 0px;">Room</a>
</li>
<li class="u-nav-item"><a
        class="u-button-style u-nav-link u-text-active-palette-3-dark-1 u-text-hover-palette-3-dark-1 u-text-palette-3-dark-1"
        href="/roomtype" style="padding: 10px 0px;">Room Type</a>
</li>
<li class="u-nav-item"><a
        class="u-button-style u-nav-link u-text-active-palette-3-dark-1 u-text-hover-palette-3-dark-1 u-text-palette-3-dark-1"
        href="/externalservice" style="padding: 10px 0px;">External Service</a>
</li>
<li class="u-nav-item"><a
        class="u-button-style u-nav-link u-text-active-palette-3-dark-1 u-text-hover-palette-3-dark-1 u-text-palette-3-dark-1"
        href="/servicecharges" style="padding: 10px 0px;">Service Charges</a>
</li>
<li class="u-nav-item"><a
        class="u-button-style u-nav-link u-text-active-palette-3-dark-1 u-text-hover-palette-3-dark-1 u-text-palette-3-dark-1"
        href="/servicehistory" style="padding: 10px 0px;">Service History</a>
</li>
<li class="u-nav-item"><a
        class="u-button-style u-nav-link u-text-active-palette-3-dark-1 u-text-hover-palette-3-dark-1 u-text-palette-3-dark-1"
        href="/pendings" style="padding: 10px 0px;">Pending</a>
</li>
<li class="u-nav-item"><a
        class="u-button-style u-nav-link u-text-active-palette-3-dark-1 u-text-hover-palette-3-dark-1 u-text-palette-3-dark-1"
        href="/bill" style="padding: 10px 0px;">Billing</a>
</li>
{% endif%}
{% endblock %}

{% block main %}
<section class="u-clearfix u-section-1" id="sec-e364">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-form u-form-1">
            <form action="/login" method="POST"
                  class="u-clearfix u-form-custom-backend u-form-spacing-10 u-form-vertical u-inner-form"
                  source="custom" name="form" style="padding: 10px;" redirect="true">
                <div class="u-form-group u-form-partition-factor-2 u-form-select u-form-group-4">
                    <label for="SelectId" class="u-form-control-hidden u-label u-label-4"></label>
                    <div class="u-form-select-wrapper">
                        <select id="SelectId" name="selectid"
                                class="u-border-2 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white u-input-4"
                                required="required">
                            <option value="" selected="true" disabled="disabled">Select Identification Type</option>
                            <option value="CNIC">CNIC</option>
                            <option value="Passport Number">Passport Number</option>
                        </select>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" class="u-caret">
                            <path fill="currentColor" d="M4 8L0 4h8z"></path>
                        </svg>
                    </div>
                </div>
                <div class="u-form-group u-form-name">
                    <label for="name-5cb1" class="u-label u-label-1">CNIC / Passport Number</label>
                    <input pattern=".{8,}" oninput="setCustomValidity('')" onclick="check()" type="number"
                           placeholder="Enter your CNIC" id="name-5cb1" name="CNIC"
                           class="u-border-3 u-border-grey-30 u-grey-10 u-input u-input-rectangle u-radius-28 u-input-1">
                </div>
                <div class="u-form-group">
                    <label for="email-5cb1" class="u-label u-label-2">Password</label>
                    <input type="password" placeholder="Password" id="email-5cb1" name="Password"
                           class="u-border-3 u-border-grey-30 u-grey-10 u-input u-input-rectangle u-radius-28 u-input-2"
                           required="required">
                </div>
                <div class="u-align-center u-form-group u-form-submit">


                    <a href="#"
                       class="u-btn u-btn-submit u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-1">Submit</a>
                    <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
                <div class="u-form-send-message u-form-send-success"></div>
                <div class="u-form-send-error u-form-send-message"></div>
                <input type="hidden" value="" name="recaptchaResponse">
            </form>
        </div>
        <a href="#"
           class="u-active-none u-border-2 u-border-palette-1-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-btn-2">Forgot
            Password (Under Development)</a>
        <a href="{{ url_for('register') }}"
           class="u-active-none u-border-2 u-border-palette-1-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-btn-3">Not
            a member yet? Sign Up Now</a>
    </div>
</section>

{% endblock %}


{% block script %}


function check() {
var card = document.getElementById("SelectId").value;

var inputBox = document.getElementById("name-5cb1");

var invalidChars = [
"-",
"+",
"e",
];

inputBox.addEventListener("keydown", function(e) {
if (invalidChars.includes(e.key)) {
e.preventDefault();
}
});

if (card == '')
{
alert ("Please Select Appropriate Identification Type First !");

}
if (card == 'CNIC')
{
document.getElementById("name-5cb1").type = 'number';
document.getElementById("name-5cb1").setAttribute("min", "1000000000000");
document.getElementById("name-5cb1").setAttribute("maxlength", 13);
document.getElementById("name-5cb1").setAttribute("oninvalid", "this.setCustomValidity('Invalid Number Of Digits for Identification')");
document.getElementById("name-5cb1").setAttribute("onchange", "this.setCustomValidity('')");
document.getElementById("name-5cb1").setAttribute("oninput", "javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);");

}
else {
document.getElementById("name-5cb1").type = 'text';
document.getElementById("name-5cb1").setAttribute("maxlength", 15);
document.getElementById("name-5cb1").setAttribute("oninvalid", "15");


document.getElementById("name-5cb1").size = '15';
document.getElementById("name-5cb1").setAttribute("oninput", "this.value = this.value.toUpperCase()");

}


}

{% endblock %}

