{% extends 'Book.html' %}

{% block navbar%}
{% if type == "Set As Admin"%}
<li class="u-nav-item"><a
        class="u-button-style u-nav-link u-text-active-palette-3-dark-1 u-text-hover-palette-3-dark-1 u-text-palette-3-dark-1"
        href="/room" style="padding: 10px 0px;">Room</a>
</li>
<li class="u-nav-item"><a
        class="u-button-style u-nav-link u-text-active-palette-3-dark-1 u-text-hover-palette-3-dark-1 u-text-palette-3-dark-1"
        href="/roomtype" style="padding: 10px 0px;">Room Type</a>
</li>
<li class="u-nav-item"><a
        class="u-button-style u-nav-link u-text-active-palette-3-dark-1 u-text-hover-palette-3-dark-1 u-text-palette-3-dark-1"
        href="/externalservice" style="padding: 10px 0px;">External Service</a>
</li>
<li class="u-nav-item"><a
        class="u-button-style u-nav-link u-text-active-palette-3-dark-1 u-text-hover-palette-3-dark-1 u-text-palette-3-dark-1"
        href="/servicecharges" style="padding: 10px 0px;">Service Charges</a>
</li>
<li class="u-nav-item"><a
        class="u-button-style u-nav-link u-text-active-palette-3-dark-1 u-text-hover-palette-3-dark-1 u-text-palette-3-dark-1"
        href="/servicehistory" style="padding: 10px 0px;">Service History</a>
</li>
<li class="u-nav-item"><a
        class="u-button-style u-nav-link u-text-active-palette-3-dark-1 u-text-hover-palette-3-dark-1 u-text-palette-3-dark-1"
        href="/pendings" style="padding: 10px 0px;">Pending</a>
</li>
<li class="u-nav-item"><a
        class="u-button-style u-nav-link u-text-active-palette-3-dark-1 u-text-hover-palette-3-dark-1 u-text-palette-3-dark-1"
        href="/bill" style="padding: 10px 0px;">Billing</a>
</li>
{% endif%}
{% endblock %}

{% block main %}
<section class="u-clearfix u-section-1" id="sec-b09d">
    <div class="u-clearfix u-image u-sheet u-image-1" data-image-width="1280" data-image-height="853">
        <div class="u-form u-form-1">
            <form action="/servicehistory" method="POST"
                  class="u-clearfix u-form-custom-backend u-form-spacing-10 u-form-vertical u-inner-form"
                  source="custom" name="form" style="padding: 10px;" redirect="true">
                <div class="u-form-group u-form-select u-form-group-1">
                    <label for="select-38e4" class="u-form-control-hidden u-label"></label>
                    <div class="u-form-select-wrapper">
                        <select id="select-38e4" name="select-1"
                                class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                            <option value="Select Active Reservation">Select Active Reservation</option>
                            {% for oneres in allres %}

                            <option value="{{oneres[0]}}">{{oneres[1]}}</option>

                            {% endfor %}

                        </select>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret">
                            <path fill="currentColor" d="M4 8L0 4h8z"></path>
                        </svg>
                    </div>
                </div>
                <div class="u-form-group u-form-partition-factor-2 u-form-select u-form-group-2">
                    <label for="select-be92" class="u-form-control-hidden u-label"></label>
                    <div class="u-form-select-wrapper">
                        <select id="select-be92" name="select"
                                class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white"
                                required="required">
                            <option value="Select Room Service">Select Room Service</option>

                            {% for oneser in allser %}

                            <option value="{{oneser[0]}}">{{oneser[1]}} Rs.{{oneser[2]}}/-</option>

                            {% endfor %}

                        </select>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret">
                            <path fill="currentColor" d="M4 8L0 4h8z"></path>
                        </svg>
                    </div>
                </div>
                <div class="u-form-group u-form-partition-factor-2 u-form-group-3">
                    <label for="text-cdb6" class="u-form-control-hidden u-label"></label>
                    <input type="text" id="text-cdb6" name="dprice"
                           class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white"
                           placeholder="Discounted Price">
                </div>
                <div class="u-form-group u-form-name">
                    <label for="name-f6ed" class="u-form-control-hidden u-label"></label>
                    <input type="text" placeholder="Insert Quantity" id="name-f6ed" name="quantity"
                           class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required">
                </div>
                <div class="u-align-center u-form-group u-form-submit">
                    <a href="#"
                       class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-4-base u-radius-14 u-btn-1">Submit</a>
                    <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
                <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent.</div>
                <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then
                    try again.
                </div>
                <input type="hidden" value="" name="recaptchaResponse">
            </form>
        </div>
    </div>
</section>

<br>
<br>
<br>
<section class="u-align-center u-clearfix u-lightbox u-section-2" id="sec-a19e">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-table u-table-responsive u-table-1">

        </div>

    </div>
</section>

<br>
<br>
<br>
{% endblock %}