{% extends 'Book.html' %}


{% block main %}

<section class="u-clearfix u-grey-10 u-section-1" id="sec-cd14">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 style="
    margin: 14px;
" class="u-text u-text-default u-text-1">Please Fill The Detail Form</h1>
        <div style="
    margin: 5px;
" class="u-form u-form-1">
            <form action="" method="POST"
                  class="u-clearfix u-form-custom-backend u-form-spacing-10 u-form-vertical u-inner-form"
                  source="custom" name="form" style="padding: 10px;" redirect="true">
                <div class="u-form-group u-form-name">
                    <label for="name-0b86" class="u-form-control-hidden u-label u-label-1"></label>
                    <input type="text" name="name" pattern="[a-zA-Z][a-zA-Z ]{2,}" required placeholder="Enter your Name" id="name-0b86" name="name"
                           class="u-border-2 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white u-input-1"
                           required="required">
                </div>
                <div class="u-form-group u-form-partition-factor-2 u-form-select u-form-group-4">
                    <label for="select-3072" class="u-form-control-hidden u-label u-label-4"></label>
                    <div class="u-form-select-wrapper">
                        <select id="SelectId" name="selectid"
                                class="u-border-2 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white u-input-4"
                                required="required">
                            <option value="" selected="true" disabled="disabled">Select Identification Type</option>
                            <option value="CNIC">CNIC</option>
                            <option value="Passport Number">Passport Number</option>
                        </select>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" class="u-caret">
                            <path fill="currentColor" d="M4 8L0 4h8z"></path>
                        </svg>
                    </div>
                </div>
                <div class="u-form-group">
                    <label for="email-0b86" class="u-form-control-hidden u-label u-label-2"></label>
                    <input pattern=".{8,}" onclick="check()" placeholder="Enter your CNIC/Passport" id="email-0b86" name="identification"
                           class="u-border-2 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white u-input-2"
                           required="required">
                </div>
                <div class="u-form-group u-form-group-3">
                    <label for="text-1522" class="u-form-control-hidden u-label u-label-3"></label>
                    <input pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password" placeholder="Enter a Strong Password" id="text-1522" name="password"
                           class="u-border-2 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white u-input-3">
                </div>

                 <div id="message" margin="20%  ">
                  <h3>Password must contain the following:</h3>
                  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                  <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                  <p id="number" class="invalid">A <b>number</b></p>
                  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                </div>


                <div class="u-form-group u-form-partition-factor-2 u-form-select u-form-group-4">
                    <label for="select-3072" class="u-form-control-hidden u-label u-label-4"></label>
                    <div class="u-form-select-wrapper">
                        <select id="select-3072" name="select"
                                class="u-border-2 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white u-input-4"
                                required>
                            <option value="" selected="true" disabled="disabled">Select your Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" class="u-caret">
                            <path fill="currentColor" d="M4 8L0 4h8z"></path>
                        </svg>
                    </div>
                </div>
                <div class="u-form-group u-form-partition-factor-2 u-form-group-5">
                    <label for="text-d166" class="u-form-control-hidden u-label u-label-5"></label>
                    <input type="text" placeholder="Nationality" id="text-d166" name="Nationality"
                           class="u-border-2 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white u-input-5"
                           required="required" maxlength="30">
                </div>
                <div class="u-form-group u-form-partition-factor-2 u-form-group-6">
                    <label for="text-e8b2" class="u-form-control-hidden u-label u-label-6"></label>
                    <input  placeholder="Phone Number" id="text-e8b2" name="Phone_Number"
                           class="u-border-2 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white u-input-6"
                           required="required" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="15" type="number">
                </div>
                <div class="u-form-email u-form-group u-form-partition-factor-2 u-form-group-7">
                    <label for="text-4d01" class="u-form-control-hidden u-label u-label-7"></label>
                    <input type="email" placeholder="Email Address" id="text-4d01" name="Email_Address"
                           maxlength="25" class="u-border-2 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white u-input-7">
                </div>
                <div class="u-form-group u-form-group-8">
                    <label for="text-ae64" class="u-form-control-hidden u-label u-label-8"></label>
                    <input type="text" placeholder="Postal Address" id="text-ae64" name="Address"
                           maxlength="15" class="u-border-2 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white u-input-8">
                </div>
                <div class="u-form-group u-form-group-9">
                    <label for="text-f7ee" class="u-form-control-hidden u-label u-label-9"></label>
                    <input type="text" placeholder="Associated Organization" id="text-f7ee" name="org"
                           maxlength="35" class="u-border-2 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white u-input-9">
                </div>
                <div class="u-form-group u-form-partition-factor-2 u-form-group-10">
                    <label for="text-c839" class="u-form-control-hidden u-label u-label-10"></label>
                    <input type="text" placeholder="Allergies" id="text-c839" name="Allergies"
                            maxlength="30" class="u-border-2 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white u-input-10">
                </div>
                <div class="u-form-group u-form-partition-factor-2 u-form-group-11">
                    <label for="text-d079" class="u-form-control-hidden u-label u-label-11"></label>
                    <input type="text" placeholder="Medical Needs" id="text-d079" name="Medical"
                           maxlength="30" class="u-border-2 u-border-grey-30 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white u-input-11">
                </div>
                <br>
                <br>
                <div class="u-align-center u-form-group u-form-submit">
                    <a href="#" class="u-btn u-btn-round u-btn-submit u-button-style u-radius-16">Submit</a>
                    <input type="submit" value="submit" class="u-form-control-hidden">
                </div>

                <input type="hidden" value="" name="recaptchaResponse">
            </form>
        </div>
        <br>
                <br>
                <br>
                <br>
                <br>
    </div>
</section>



{% endblock %}


{% block script %}

function check() {
     var card = document.getElementById("SelectId").value;

if (card == '')
{
    alert ("Please Select Appropriate Identification Type First !");

    }
if (card == 'CNIC')
{
     document.getElementById("email-0b86").type = 'number';
     document.getElementById("email-0b86").setAttribute("min", "1000000000000");
     document.getElementById("email-0b86").setAttribute("maxlength", 13);
    document.getElementById("email-0b86").setAttribute("oninvalid", "this.setCustomValidity('Invalid Number Of Digits for Identification')");
    document.getElementById("email-0b86").setAttribute("onchange", "this.setCustomValidity('')");
     document.getElementById("email-0b86").setAttribute("oninput", "javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);");

}
else {
    document.getElementById("email-0b86").type = 'text';
    document.getElementById("email-0b86").setAttribute("maxlength", 15);
    document.getElementById("email-0b86").setAttribute("minlength", 10);



    document.getElementById("email-0b86").setAttribute("oninput", "this.value = this.value.toUpperCase()");

}

}

</script>

<script>
var myInput = document.getElementById("text-1522");
var letter = document.getElementById("letter");
var capital = document.getElementById("capital");
var number = document.getElementById("number");
var length = document.getElementById("length");

// When the user clicks on the password field, show the message box
myInput.onfocus = function() {
  document.getElementById("message").style.display = "block";
}

// When the user clicks outside of the password field, hide the message box
myInput.onblur = function() {
  document.getElementById("message").style.display = "none";
}

// When the user starts to type something inside the password field
myInput.onkeyup = function() {
  // Validate lowercase letters
  var lowerCaseLetters = /[a-z]/g;
  if(myInput.value.match(lowerCaseLetters)) {
    letter.classList.remove("invalid");
    letter.classList.add("valid");
  } else {
    letter.classList.remove("valid");
    letter.classList.add("invalid");
}

  // Validate capital letters
  var upperCaseLetters = /[A-Z]/g;
  if(myInput.value.match(upperCaseLetters)) {
    capital.classList.remove("invalid");
    capital.classList.add("valid");
  } else {
    capital.classList.remove("valid");
    capital.classList.add("invalid");
  }

  // Validate numbers
  var numbers = /[0-9]/g;
  if(myInput.value.match(numbers)) {
    number.classList.remove("invalid");
    number.classList.add("valid");
  } else {
    number.classList.remove("valid");
    number.classList.add("invalid");
  }

  // Validate length
  if(myInput.value.length >= 8) {
    length.classList.remove("invalid");
    length.classList.add("valid");
  } else {
    length.classList.remove("valid");
    length.classList.add("invalid");
  }
}
</script>


<style>
    /* Style all input fields */


/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
}

/* Style the container for inputs */
.container {
  background-color: #f1f1f1;
  padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;

}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;

}
</style>
 </script>
        <script>
            function test(id, event) {
                var element = $("#" + id);
                var len = element.val().length + 1;
                var max = element.attr("maxlength");

                var cond = (46 < event.which && event.which < 58) || (46 < event.keyCode && event.keyCode < 58);

                if (!(cond && len <= max)) {
                    event.preventDefault();
                    return false;
                }
            }
      {% endblock %}